/*
/*/
!src
!LICENSE.md
!README.md
!.gitignore
!build.gradle
!gradle/wrapper/*
!gradlew
!gradlew.bat
!build.properties
!private_EXAMPLE.properties
!_runServer.command
!_runServer.bat
!_runClient.command
!_runClient.bat
!_curseforgeupload.command
!_curseforgeupload.bat
!_build.command
!_build.bat
!_setup-idea.command
!_setup-idea.bat
!_setup-eclipse.command
!_setup-eclipse.bat